# Python bytecode/cache
__pycache__/
*.py[cod]

# Build/package artifacts
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# Test/cache/tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS/editor noise
.DS_Store

# Outputs
outputs

3dtiles
*.ifc